In [2]:
import requests as req

In [3]:
url = "https://www.naver.com"

In [7]:
res = req.get(url)

In [9]:
from bs4 import BeautifulSoup as bs

In [10]:
soup = bs(res.text,"lxml")

# 네이버 영화페이지 실습

In [18]:
url = "https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=20220106"
res = req.get(url)

In [ ]:
#title 변수에 영화명, score변수에 평정을 가져오기

In [20]:
soup = bs(res.text,'lxml')

In [31]:
title = soup.select("div.tit5>a")
title
len(title)

19

In [32]:
score = soup.select("td.point")
score
len(score)

19

In [41]:
for i in title :
    print(i.text)

씽2게더
코다
러브레터
스파이더맨: 노 웨이 홈
아멜리에
고양이를 부탁해
드라이브 마이 카
공각기동대
돈 룩 업
엔칸토: 마법의 세계
연애 빠진 로맨스
킹스맨: 퍼스트 에이전트
프렌치 디스패치
경관의 피
아웃레이지
유체이탈자
해피 뉴 이어
베놈 2: 렛 데어 비 카니지
매트릭스: 리저렉션

In [39]:
title

[<a href="/movie/bi/mi/basic.naver?code=187320" title="씽2게더">씽2게더</a>,
 <a href="/movie/bi/mi/basic.naver?code=201073" title="코다">코다</a>,
 <a href="/movie/bi/mi/basic.naver?code=19031" title="러브레터">러브레터</a>,
 <a href="/movie/bi/mi/basic.naver?code=208077" title="스파이더맨: 노 웨이 홈">스파이더맨: 노 웨이 홈</a>,
 <a href="/movie/bi/mi/basic.naver?code=32588" title="아멜리에">아멜리에</a>,
 <a href="/movie/bi/mi/basic.naver?code=31607" title="고양이를 부탁해">고양이를 부탁해</a>,
 <a href="/movie/bi/mi/basic.naver?code=205623" title="드라이브 마이 카">드라이브 마이 카</a>,
 <a href="/movie/bi/mi/basic.naver?code=23917" title="공각기동대">공각기동대</a>,
 <a href="/movie/bi/mi/basic.naver?code=192614" title="돈 룩 업">돈 룩 업</a>,
 <a href="/movie/bi/mi/basic.naver?code=210282" title="엔칸토: 마법의 세계">엔칸토: 마법의 세계</a>,
 <a href="/movie/bi/mi/basic.naver?code=196809" title="연애 빠진 로맨스">연애 빠진 로맨스</a>,
 <a href="/movie/bi/mi/basic.naver?code=159893" title="킹스맨: 퍼스트 에이전트">킹스맨: 퍼스트 에이전트</a>,
 <a href="/movie/bi/mi/basic.naver?code=187312" title="프렌치 디스패치">프렌치 디스패치</a>,
 <a href="/movie/bi/mi/basic.naver?code=190400" title="경관의 피">경관의 피</a>,
 <a href="/movie/bi/mi/basic.naver?code=75237" title="아웃레이지">아웃레이지</a>,
 <a href="/movie/bi/mi/basic.naver?code=182362" title="유체이탈자">유체이탈자</a>,
 <a href="/movie/bi/mi/basic.naver?code=204649" title="해피 뉴 이어">해피 뉴 이어</a>,
 <a href="/movie/bi/mi/basic.naver?code=187323" title="베놈 2: 렛 데어 비 카니지">베놈 2: 렛 데어 비 카니지</a>,
 <a href="/movie/bi/mi/basic.naver?code=191600" title="매트릭스: 리저렉션">매트릭스: 리저렉션</a>]

In [45]:
title_list = []
score_list = []
rank_list = []

for i in range(len(title)) :
    title_list.append(title[i].text)
    score_list.append(score[i].text)
    rank_list.append(i+1)

In [47]:
import pandas as pd

In [115]:
dic = {'영화제목' : title_list, "평점" : score_list, "순위" : rank_list}

In [175]:
movie = pd.DataFrame(dic)

In [176]:
movie.set_index('순위', inplace = True)

In [177]:
movie

                영화제목    평점
순위
1               씽2게더  9.41
2                 코다  9.23
3               러브레터  9.12
4      스파이더맨: 노 웨이 홈  8.95
5               아멜리에  8.81
6           고양이를 부탁해  8.81
7          드라이브 마이 카  8.75
8              공각기동대  8.73
9              돈 룩 업  8.69
10       엔칸토: 마법의 세계  8.29
11         연애 빠진 로맨스  8.29
12     킹스맨: 퍼스트 에이전트  8.10
13          프렌치 디스패치  8.01
14             경관의 피  7.91
15             아웃레이지  7.84
16             유체이탈자  7.58
17           해피 뉴 이어  7.10
18  베놈 2: 렛 데어 비 카니지  6.11
19        매트릭스: 리저렉션  5.52

In [ ]:
#파이썬도 html기반이라서 데이터 프레임이 테이블 태그로 이루어져있다.
#그래서 정렬이 가능하다!!

In [180]:
movie.style.set_table_styles([{'selector': 'th', 'props': 'text-align : left'},{'selector': 'td', 'props': 'text-align : left'}])

In [181]:
movie=movie.style.set_properties(**{'title-align':'left'})

# 한달동안의 영화 데이터 수집

In [ ]:
1월 1일
20220101 ~ 20220106

In [187]:
title_list = []
score_list = []
rank_list = []

for i in range(20220101,20220107) :
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=' + str(i)
    res = req.get(url)
    soup = bs(res.text,'lxml')
    title = soup.select('div.tit5 > a')
    score = soup.select('td.point')
    
 

    for i in range(len(title)) :
        title_list.append(title[i].text)
        score_list.append(score[i].text)
        rank_list.append(i+1)

In [189]:
len(title_list)

110

In [191]:
dic = {'영화제목' : title_list, "평점" : score_list, "순위" : rank_list}
movie = pd.DataFrame(dic)
movie.set_index('순위', inplace = True)
movie

                영화제목    평점
순위
1                 코다  9.24
2      스파이더맨: 노 웨이 홈  8.97
3            러브 액츄얼리  8.93
4               아멜리에  8.81
5           고양이를 부탁해  8.81
..               ...   ...
15             아웃레이지  7.84
16             유체이탈자  7.58
17           해피 뉴 이어  7.10
18  베놈 2: 렛 데어 비 카니지  6.11
19        매트릭스: 리저렉션  5.52

[110 rows x 2 columns]

# Pandas 활용하여 날짜 생성

In [193]:
# pd.date_range(start = '시작하는 날짜', end = '끝나는 날짜')
date = pd.date_range(start = '2021-01-01', end = '2021-03-31') #적는 형태를 지켜야한다.

In [200]:
#문자형 포맷팅을 사용하여 '-' 없애보기
days = date.strftime('%Y%m%d')  # strftime -> string formating time 의 줄임말
#Y가 소문자일때
date.strftime('%y%m%d')

Index(['210101', '210102', '210103', '210104', '210105', '210106', '210107',
       '210108', '210109', '210110', '210111', '210112', '210113', '210114',
       '210115', '210116', '210117', '210118', '210119', '210120', '210121',
       '210122', '210123', '210124', '210125', '210126', '210127', '210128',
       '210129', '210130', '210131', '210201', '210202', '210203', '210204',
       '210205', '210206', '210207', '210208', '210209', '210210', '210211',
       '210212', '210213', '210214', '210215', '210216', '210217', '210218',
       '210219', '210220', '210221', '210222', '210223', '210224', '210225',
       '210226', '210227', '210228', '210301', '210302', '210303', '210304',
       '210305', '210306', '210307', '210308', '210309', '210310', '210311',
       '210312', '210313', '210314', '210315', '210316', '210317', '210318',
       '210319', '210320', '210321', '210322', '210323', '210324', '210325',
       '210326', '210327', '210328', '210329', '210330', '210331'],
      dtype='object')

In [201]:
days

Index(['20210101', '20210102', '20210103', '20210104', '20210105', '20210106',
       '20210107', '20210108', '20210109', '20210110', '20210111', '20210112',
       '20210113', '20210114', '20210115', '20210116', '20210117', '20210118',
       '20210119', '20210120', '20210121', '20210122', '20210123', '20210124',
       '20210125', '20210126', '20210127', '20210128', '20210129', '20210130',
       '20210131', '20210201', '20210202', '20210203', '20210204', '20210205',
       '20210206', '20210207', '20210208', '20210209', '20210210', '20210211',
       '20210212', '20210213', '20210214', '20210215', '20210216', '20210217',
       '20210218', '20210219', '20210220', '20210221', '20210222', '20210223',
       '20210224', '20210225', '20210226', '20210227', '20210228', '20210301',
       '20210302', '20210303', '20210304', '20210305', '20210306', '20210307',
       '20210308', '20210309', '20210310', '20210311', '20210312', '20210313',
       '20210314', '20210315', '20210316', '20210317', '20210318', '20210319',
       '20210320', '20210321', '20210322', '20210323', '20210324', '20210325',
       '20210326', '20210327', '20210328', '20210329', '20210330', '20210331'],
      dtype='object')

In [216]:
#진행속도를 보여준다
from tqdm import tqdm_notebook
tqdm_notebook()

In [217]:
title_list = []
score_list = []
rank_list = []
day_list = []

for day in tqdm_notebook(days) :
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=' + day
    res = req.get(url)
    soup = bs(res.text,'lxml')
    title = soup.select('div.tit5 > a')
    score = soup.select('td.point')
    
 

    for i in range(len(title)) :
        title_list.append(title[i].text)
        score_list.append(score[i].text)
        rank_list.append(i+1)
        day_list.append(day)

C:\Users\smhrd\AppData\Local\Temp/ipykernel_11784/2515178738.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for day in tqdm_notebook(days) :

  0%|          | 0/90 [00:00<?, ?it/s]

In [213]:
dic = {'영화제목' : title_list, "평점" : score_list, "순위" : rank_list, "날짜" : day_list}
movie = pd.DataFrame(dic)
movie.set_index('순위', inplace = True)
movie

                        영화제목    평점        날짜
순위
1               가나의 혼인잔치: 언약  9.59  20210101
2                       언플랜드  9.52  20210101
3              극장판 바이올렛 에버가든  9.49  20210101
4                   부활: 그 증거  9.40  20210101
5                    소년시절의 너  9.39  20210101
..                       ...   ...       ...
46                       고질라  6.67  20210331
47  쏘아올린 불꽃, 밑에서 볼까? 옆에서 볼까?  6.55  20210331
48            불한당: 나쁜 놈들의 세상  6.43  20210331
49                    카오스 워킹  6.29  20210331
50                     신 고질라  4.97  20210331

[4293 rows x 3 columns]

In [215]:
movie[movie['날짜'] == '20210101']

                          영화제목    평점        날짜
순위
1                 가나의 혼인잔치: 언약  9.59  20210101
2                         언플랜드  9.52  20210101
3                극장판 바이올렛 에버가든  9.49  20210101
4                     부활: 그 증거  9.40  20210101
5                      소년시절의 너  9.39  20210101
6   페이트 스테이 나이트 헤븐즈필 III.스프링 송  9.26  20210101
7                       일 포스티노  9.16  20210101
8                      제리 맥과이어  9.16  20210101
9                      사랑의 블랙홀  9.15  20210101
10                        러브레터  9.12  20210101
11                 타오르는 여인의 초상  9.07  20210101
12                     글루미 선데이  9.06  20210101
13                  당신이 잠든 사이에  9.06  20210101
14                         노트북  9.05  20210101
15                      비긴 어게인  9.04  20210101
16                         굿바이  9.04  20210101
17            조제, 호랑이 그리고 물고기들  9.00  20210101
18                        윤희에게  8.98  20210101
19                     남매의 여름밤  8.96  20210101
20                     러브 액츄얼리  8.93  20210101
21                          담보  8.91  20210101
22               해리가 샐리를 만났을 때  8.89  20210101
23                        화양연화  8.80  20210101
24                  찬실이는 복도 많지  8.72  20210101
25                      귀여운 여인  8.70  20210101
26                         피아노  8.66  20210101
27                     캡틴 판타스틱  8.65  20210101
28                    퐁네프의 연인들  8.63  20210101
29                        라라랜드  8.61  20210101
30                         철도원  8.59  20210101
31                        아비정전  8.50  20210101
32                          레토  8.43  20210101
33                  삼진그룹 영어토익반  8.36  20210101
34                          테넷  8.20  20210101
35                           런  8.17  20210101
36                     하나와 앨리스  8.11  20210101
37                        일대종사  8.01  20210101
38                 존 윅 3: 파라벨룸  8.01  20210101
39                     아이 엠 러브  7.85  20210101
40                   펀치 드렁크 러브  7.72  20210101
41                      루비 스팍스  7.51  20210101
42                          도굴  7.36  20210101
43                        애비규환  7.02  20210101
44                    프리키 데스데이  6.84  20210101
45                          조제  6.65  20210101
46                        이웃사촌  5.98  20210101
47                  원더 우먼 1984  5.49  20210101
48                         800  3.60  20210101